{% extends "layout.html" %}
{% block body %}
    {% if error %}
        <div class="alert alert-warning" style="margin-top:60px;height: 50px;margin-left: 30px;margin-right: 30px">
            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
            <strong>Warning: </strong>{{ error }}
        </div>
    {% endif %}
    {% if msg %}
        <div class="alert alert-success" style="margin-top:60px;height: 50px;margin-left: 30px;margin-right: 30px">
            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
            <strong>Success!</strong> {{ msg }}
        </div>
    {% endif %}
    <h1 style="margin-top:100px">Add Artist</h1>



    <!-- {{table}} -->
    <!-- ######################################-->
    <script type="text/javascript" language="javascript" src="//code.jquery.com/jquery-1.12.3.js"></script>
    <script type="text/javascript" language="javascript"
            src="https://cdn.datatables.net/1.10.12/js/jquery.dataTables.min.js">
    </script>
    <!--<link rel="stylesheet" type="text/css" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">-->
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.12/css/dataTables.bootstrap.min.css">
    <link rel="stylesheet" type="text/css"
          href="https://cdn.datatables.net/buttons/1.2.2/css/buttons.bootstrap.min.css">
    <script type="text/javascript" language="javascript"
            src="https://cdn.datatables.net/1.10.12/js/dataTables.bootstrap.min.js"></script>
    <script type="text/javascript" language="javascript"
            src="https://cdn.datatables.net/buttons/1.2.2/js/dataTables.buttons.min.js"></script>
    <script type="text/javascript" language="javascript"
            src="https://cdn.datatables.net/buttons/1.2.2/js/buttons.bootstrap.min.js"></script>
    <script type="text/javascript" language="javascript"
            src="//cdnjs.cloudflare.com/ajax/libs/jszip/2.5.0/jszip.min.js"></script>
    <script type="text/javascript" language="javascript"
            src="//cdn.rawgit.com/bpampuch/pdfmake/0.1.18/build/pdfmake.min.js"></script>
    <script type="text/javascript" language="javascript"
            src="//cdn.rawgit.com/bpampuch/pdfmake/0.1.18/build/vfs_fonts.js"></script>
    <script type="text/javascript" language="javascript"
            src="//cdn.datatables.net/buttons/1.2.2/js/buttons.html5.min.js"></script>
    <script type="text/javascript" language="javascript"
            src="//cdn.datatables.net/buttons/1.2.2/js/buttons.print.min.js"></script>
    <script type="text/javascript" language="javascript"
            src="//cdn.datatables.net/buttons/1.2.2/js/buttons.colVis.min.js"></script>
    <link rel="stylesheet" type="text/css" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.12/css/dataTables.bootstrap.min.css">
    <link rel="stylesheet" type="text/css"
          href="https://cdn.datatables.net/buttons/1.2.2/css/buttons.bootstrap.min.css">

    {% if artistAdded == False %}
        <div class="container">
            <div class="row col-sm-10 col-md-4 col-md-offset-4 col-lg-3 col-lg-offset-2">
                <form name="addArtist" action="/addartist" method="POST" onsubmit="return validateForm()">
                    ArtistName: <input type="text" placeholder="Artist Name" name="artistname"
                                       value="{{ request.form.artistname }}">
                    Gender: <input type="text" placeholder="Male of Female" name="gender" value="{{ request.form.gender }}">
                    Area:
                    <select name="area" id="area">
                        <option value="">NULL</option>
                        <option value="1">United States</option>
                        <option value="2">United Kingdom</option>
                        <option value="3">New York</option>
                        <option value="4">Los Angeles</option>
                        <option value="5">China</option>
                        <option value="6">India</option>
                        <option value="7">Greece</option>
                        <option value="8">Japan</option>
                        <option value="9">Germany</option>
                        <option value="10">Liverpool</option>
                        <option value="11">Canada</option>
                        <option value="12">Barbados</option>
                    </select>
                    Type: <input type="text" placeholder="Person or Band" name="type" value="{{ request.form.type }}">
                    StartDate: <input type="text" placeholder="YYYY-MM-DD" name="startdate"
                                      value="{{ request.form.startdate }}">
                    EndDate: <input type="text" placeholder="YYYY-MM-DD" name="enddate"
                                    value="{{ request.form.enddate }}">
                    <button class="btn btn-primary">Add</button>
                </form>
            </div>
        </div>
    {% else %}
        <div class="container">
            <h3>You have successfully added an artist!</h3>
        </div>
    {% endif %}

    <script>
        function validateForm() {
            var addArtistForm = document.forms["addArtist"];
            var artistName = addArtistForm["artistname"].value;

            // Check if all values entered are valid
            if (artistName == "") {
                alert("Artist name can't be empty!");
                return false;
            }

            return true;
        }
    </script>
{% endblock %}