{% extends "layout.html" %}
{% block body %}
    {% if error %}
        <div class="alert alert-warning" style="margin-top:60px;height: 50px;margin-left: 30px;margin-right: 30px">
            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
            <strong>Warning: </strong>{{ error }}
        </div>
    {% endif %}
    {% if msg %}
        <div class="alert alert-success" style="margin-top:60px;height: 50px;margin-left: 30px;margin-right: 30px">
            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
            <strong>Success!</strong> {{ msg }}
        </div>
    {% endif %}
    <div class="form" style="margin-top:100px">
    <div class="tab-content">
    <div id="modifyPassword">
        <h1>Modify Password</h1>
        <form action="/modifyPassword" method="post">
            <div class="field-wrap">
                <label>
                    Username<span class="req">*</span>
                </label>
                <input type="text" name=username required autocomplete="off"/>
            </div>
            <div class="field-wrap">
                <label>
                    Set A Password<span class="req">*</span>
                </label>
                <input type="password" name=password required autocomplete="off"/>
            </div>
            <button type="submit" class="button button-block"/>
            Submit</button>
        </form>
    </div>
    <script src='http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
    <script src="../static/js/index.js"></script>
{% endblock %}

