<html>
<style>
    body {
        font-size: 15pt;
        font-family: arial;
    }
</style>


<body>
<h1>DB_TTY_SZ</h1>
<div>{{ data }}</div>

<div>
    {% for n in data %}
        <div>{{ n }}</div>
    {% endfor %}
</div>

<p><a href="another">Go to the other page</a></p>

<form method="POST" action="/add">
    <p>Try <input type="text" name="name"> <input type="submit" value="Add"></p>
</form>

</body>


</html>
