<!doctype html>
<title>DB-TTY-SZ</title>
<head>
    <title>DB-TTY-SZ</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link href='http://fonts.googleapis.com/css?family=Titillium+Web:400,300,600' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="../static/css/normalize.css">
    <link rel="stylesheet" href="../static/css/style.css">
</head>
<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                    aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar">hello</span>
                <span class="icon-bar">1</span>
                <span class="icon-bar">2</span>
            </button>
            <a class="navbar-brand" href="#">DB_tty_sz</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li><a href="/">Home</a></li>
                {% if userid == -1 %}
                    <li><a href="/loginpage">Sign in/Register</a></li>
                {% else %}
                    <li><a href="/userProfile">My Profile</a></li>
                    <li><a href="/mainPage">Artists</a></li>
                    <li><a href="/songs">Songs</a></li>
                {% endif %}
            </ul>
            {% if userid != -1 %}
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="/updateprofile">Update Profile</a></li>
                    <li><a href="/addartist">Add Artist</a></li>
                    <li><a href="/addsong">Add Song</a></li>
                    <li><a href="/searchuser">Search User</a></li>
                    <li><a href="/signout">Sign Out</a></li>
                </ul>
            {% endif %}
        </div>
</nav>
{% block body %}
{% endblock %}