{% extends "layout.html" %}
{% block body %}
    {% if error %}
        <div class="alert alert-warning" style="margin-top:60px;height: 50px;margin-left: 30px;margin-right: 30px">
            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
            <strong>Warning: </strong>{{ error }}
        </div>
    {% endif %}
    {% if msg %}
        <div class="alert alert-success" style="margin-top:60px;height: 50px;margin-left: 30px;margin-right: 30px">
            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
            <strong>Success!</strong> {{ msg }}
        </div>
    {% endif %}
    <title>Sign-Up/Login Form</title>
    <div class="form" style="margin-top:80px">
        <ul class="tab-group">
            <li class="tab active"><a href="#signup">Sign Up</a></li>
            <li class="tab"><a href="#login">Log In</a></li>
        </ul>
        <div class="tab-content">
            <div id="signup">
                <h1>Sign Up</h1>
                <form action="/register" method="post">
                    <div class="field-wrap">
                        <label style="color: rgba(255, 255, 255, 0.5)">
                            Username<span class="req">*</span>
                        </label>
                        <input type="text" name=username required autocomplete="off"/>
                    </div>
                    <div class="field-wrap">
                        <label style="color: rgba(255, 255, 255, 0.5)">
                            Set A Password<span class="req">*</span>
                        </label>
                        <input type="password" name=password required autocomplete="off"/>
                    </div>
                    <button type="submit" name=password class="button button-block"/>
                    Register</button>
                </form>
            </div>

            <div id="login">
                <h1>Welcome Back!</h1>
                <form action="/login" method="post">
                    <div class="field-wrap">
                        <label style="color: rgba(255, 255, 255, 0.5)">
                            Username<span class="req">*</span>
                        </label>
                        <input type="text" name=username required autocomplete="off"/>
                    </div>
                    <div class="field-wrap">
                        <label style="color: rgba(255, 255, 255, 0.5)">
                            Password<span class="req">*</span>
                        </label>
                        <input type="password" name=password required autocomplete="off"/>
                    </div>
                    <button class="button button-block"/>
                    Log In</button>
                </form>
            </div>
        </div>
    </div>
    <script src='http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
    <script src="../static/js/index.js"></script>
{% endblock %}