{% extends "layout.html" %}
{% block body %}
    {% if error %}
        <div class="alert alert-warning" style="margin-top:60px;height: 50px;margin-left: 30px;margin-right: 30px">
            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
            <strong>Warning: </strong>{{ error }}
        </div>
    {% endif %}
    {% if msg %}
        <div class="alert alert-success" style="margin-top:60px;height: 50px;margin-left: 30px;margin-right: 30px">
            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
            <strong>Success!</strong> {{ msg }}
        </div>
    {% endif %}
    <h1 style="margin-top:100px">Search for artist</h1>

    <!-- {{table}} -->
    <!-- ######################################-->
    <script type="text/javascript" language="javascript" src="//code.jquery.com/jquery-1.12.3.js"></script>
    <script type="text/javascript" language="javascript"
            src="https://cdn.datatables.net/1.10.12/js/jquery.dataTables.min.js">
    </script>
    <!--<link rel="stylesheet" type="text/css" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">-->
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.12/css/dataTables.bootstrap.min.css">
    <link rel="stylesheet" type="text/css"
          href="https://cdn.datatables.net/buttons/1.2.2/css/buttons.bootstrap.min.css">
    <script type="text/javascript" language="javascript"
            src="https://cdn.datatables.net/1.10.12/js/dataTables.bootstrap.min.js"></script>
    <script type="text/javascript" language="javascript"
            src="https://cdn.datatables.net/buttons/1.2.2/js/dataTables.buttons.min.js"></script>
    <script type="text/javascript" language="javascript"
            src="https://cdn.datatables.net/buttons/1.2.2/js/buttons.bootstrap.min.js"></script>
    <script type="text/javascript" language="javascript"
            src="//cdnjs.cloudflare.com/ajax/libs/jszip/2.5.0/jszip.min.js"></script>
    <script type="text/javascript" language="javascript"
            src="//cdn.rawgit.com/bpampuch/pdfmake/0.1.18/build/pdfmake.min.js"></script>
    <script type="text/javascript" language="javascript"
            src="//cdn.rawgit.com/bpampuch/pdfmake/0.1.18/build/vfs_fonts.js"></script>
    <script type="text/javascript" language="javascript"
            src="//cdn.datatables.net/buttons/1.2.2/js/buttons.html5.min.js"></script>
    <script type="text/javascript" language="javascript"
            src="//cdn.datatables.net/buttons/1.2.2/js/buttons.print.min.js"></script>
    <script type="text/javascript" language="javascript"
            src="//cdn.datatables.net/buttons/1.2.2/js/buttons.colVis.min.js"></script>
    <link rel="stylesheet" type="text/css" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.12/css/dataTables.bootstrap.min.css">
    <link rel="stylesheet" type="text/css"
          href="https://cdn.datatables.net/buttons/1.2.2/css/buttons.bootstrap.min.css">

    <div class="container">
        <div class="row>">
            <h3>{{ user }}</h3>


            {% if like %}
                <h3>You have added {{ like }} to your favorite.</h3>
            {% endif %}

            {% if artistSongs == "Empty" %}
                <h3>This artist doesn't have any songs.</h3>
            {% elif artistSongs %}
                <table id="artistSongs" class="table table-striped table-bordered" width="100%" cellspacing="0">
                    <thead>
                    <tr>
                        <th>Title</th>
                        <th>Duration</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for song in artistSongs %}
                        <tr>
                            <td>{{ song.title }}</td>
                            <td>{{ song.duration }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            {% endif %}

            {% if artistConcerts == "Empty" %}
                <h3>This artist doesn't have any concerts.</h3>
            {% elif artistConcerts %}
                <table id="artistConcerts" class="table table-striped table-bordered" width="100%" cellspacing="0">
                    <thead>
                    <tr>
                        <th>Artist Name</th>
                        <th>Concert Date</th>
                        <th>Concert Location</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for concert in artistConcerts %}
                        <tr>
                            <td>{{ concert.artist }}</td>
                            <td>{{ concert.concertdate }}</td>
                            <td>{{ concert.location }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            {% endif %}
        </div>

        {% if not like and artistSongs != "Empty" and not artistSongs and artistConcerts != "Empty" and not artistConcerts %}
            <div class="row">
                <form name="input" action="/mainPage" method="GET">
                    <h3>Area:</h3>
                    <select name="area" id="area">
                        {% if allAreas %}
                            {% for area in allAreas %}
                                <option value="{{ area.areaName }}">{{ area.areaName }}</option>
                            {% endfor %}
                        {% else %}
                            <option value="United Kingdom">United Kingdom</option>
                            <option value="United States">United States</option>
                            <option value="China">China</option>
                        {% endif %}
                    </select>

                    <h3>Gender:</h3>
                    <select name="gender" id="gender">
                        <option value="Male">Male</option>
                        <option value="Female">Female</option>
                    </select>


                    <h3>Type:</h3>
                    <select name="type" id="type">
                        <option value="Person">Person</option>
                        <option value="Band">Band</option>
                    </select>


                    <h3>Search:</h3>
                    <body>
                    <input type="text" name="search">
                    <br>
                    <input type="submit" value="Submit">
                    <br>
                    </body>
                </form>
            </div>

            <div class="row">
                <table id="artists" class="table table-striped table-bordered" width="100%" cellspacing="0">
                    <thead>
                    <tr>
                        <th>Name</th>
                        <th>Area</th>
                        <th>Gender</th>
                        <th>Type</th>
                        <th>BornDate</th>
                        <th>DeadDate</th>
                        <th>Like</th>
                        <th>CheckSong</th>
                        <th>CheckConcert</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% if artistfrom %}
                        {% for i in artistfrom %}
                            <tr>
                                <td>{{ i.artist_name }}</td>
                                <td>{{ i.area }}</td>
                                <td>{{ i.gender }}</td>
                                <td>{{ i.type }}</td>
                                <td>{{ i.startdate }}</td>
                                <td>{{ i.enddate }}</td>
                                <td>
                                    <form action="/mainPage" method="GET">
                                        <input type="submit" name="like" id="like" value="{{ i.artist_name }}">
                                        </input>
                                        <script>
                                            document.getElementById("like").innerHTML = "New text!";
                                        </script>
                                    </form>
                                </td>
                                <td>
                                    <form action="/mainPage" method="GET">
                                        <input type="submit" name="checksong" id="checksong"
                                               value="{{ i.artist_name }}">
                                        </input>
                                    </form>
                                </td>
                                <td>
                                    <form action="/mainPage" method="GET">
                                        <input type="submit" name="checkconcert" id="checkconcert"
                                               value="{{ i.artist_name }}">
                                        </input>
                                    </form>
                                </td>
                            </tr>
                        {% endfor %}
                    {% endif %}
                    </tbody>
                </table>
            </div>
            </div>

            <script>
                $(document).ready(function () {
                    var table = $('#artists').DataTable({
                        lengthChange: false,
                        buttons: ['copy', 'excel', 'pdf', 'colvis']
                    });

                    table.buttons().container()
                            .appendTo('#example_wrapper .col-sm-6:eq(0)');
                });
            </script>
        {% endif %}
    <!-- ######################################-->
{% endblock %}