{% extends "layout.html" %}
{% block body %}
    {% if error %}
        <div class="alert alert-warning" style="margin-top:60px;height: 50px;margin-left: 30px;margin-right: 30px">
            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
            <strong>Warning: </strong>{{ error }}
        </div>
    {% endif %}
    {% if msg %}
        <div class="alert alert-success" style="margin-top:60px;height: 50px;margin-left: 30px;margin-right: 30px">
            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
            <strong>Success!</strong> {{ msg }}
        </div>
    {% endif %}
    <h1 style="margin-top:100px">Welcome {{ username }}!</h1>



    <!-- {{table}} -->
    <!-- ######################################-->
    <script type="text/javascript" language="javascript" src="//code.jquery.com/jquery-1.12.3.js"></script>
    <script type="text/javascript" language="javascript"
            src="https://cdn.datatables.net/1.10.12/js/jquery.dataTables.min.js">
    </script>
    <!--<link rel="stylesheet" type="text/css" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">-->
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.12/css/dataTables.bootstrap.min.css">
    <link rel="stylesheet" type="text/css"
          href="https://cdn.datatables.net/buttons/1.2.2/css/buttons.bootstrap.min.css">
    <script type="text/javascript" language="javascript"
            src="https://cdn.datatables.net/1.10.12/js/dataTables.bootstrap.min.js"></script>
    <script type="text/javascript" language="javascript"
            src="https://cdn.datatables.net/buttons/1.2.2/js/dataTables.buttons.min.js"></script>
    <script type="text/javascript" language="javascript"
            src="https://cdn.datatables.net/buttons/1.2.2/js/buttons.bootstrap.min.js"></script>
    <script type="text/javascript" language="javascript"
            src="//cdnjs.cloudflare.com/ajax/libs/jszip/2.5.0/jszip.min.js"></script>
    <script type="text/javascript" language="javascript"
            src="//cdn.rawgit.com/bpampuch/pdfmake/0.1.18/build/pdfmake.min.js"></script>
    <script type="text/javascript" language="javascript"
            src="//cdn.rawgit.com/bpampuch/pdfmake/0.1.18/build/vfs_fonts.js"></script>
    <script type="text/javascript" language="javascript"
            src="//cdn.datatables.net/buttons/1.2.2/js/buttons.html5.min.js"></script>
    <script type="text/javascript" language="javascript"
            src="//cdn.datatables.net/buttons/1.2.2/js/buttons.print.min.js"></script>
    <script type="text/javascript" language="javascript"
            src="//cdn.datatables.net/buttons/1.2.2/js/buttons.colVis.min.js"></script>
    <link rel="stylesheet" type="text/css" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.12/css/dataTables.bootstrap.min.css">
    <link rel="stylesheet" type="text/css"
          href="https://cdn.datatables.net/buttons/1.2.2/css/buttons.bootstrap.min.css">

    <div class="container">
        <div class="row">
            <form class="form-horizontal" role="form">
                <div class="form-group">
                    <label class="col-sm-2 control-label">Facebook:</label>
                    <div class="col-sm-10">
                        {% if not facebook %}
                            <p class="form-control-static">You haven't add your Facebook</p>
                        {% else %}
                            <p class="form-control-static">{{ facebook }}</p>
                        {% endif %}
                    </div>
                </div>
            </form>
        </div>

        <div class="row">
            <form class="form-horizontal" role="form">
                <div class="form-group">
                    <label class="col-sm-2 control-label">Telephone:</label>
                    <div class="col-sm-10">
                        {% if not phonenumber %}
                            <p class="form-control-static">You haven't add you Telephone</p>
                        {% else %}
                            <p class="form-control-static">{{ phonenumber }}</p>
                        {% endif %}
                    </div>
                </div>
            </form>
        </div>

        <div class="row">
            {% if not songs %}
                <h1>You don't have any favorite songs.</h1>
            {% else %}
                <table id="favoriteSongs" class="table table-striped table-bordered" width="100%" cellspacing="0">
                    <thead>
                    <tr>
                        <th>Favorite Songs</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for song in songs %}
                        <tr>
                            <td>{{ song }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            {% endif %}
        </div>

        <div class="row">
            {% if not artistnames %}
                <h1>You don't have any favorite artists.</h1>
            {% else %}
                <table id="favoriteAritsts" class="table table-striped table-bordered" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th>Favorite Artists</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for artistname in artistnames %}
                            <tr>
                                <td>{{ artistname }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            {% endif %}
        </div>

        <div class="row">
            {% if not userRatings %}
                <h1>You haven't rated any songs.</h1>
            {% else %}
                <label>Your Ratings</label>
                <table id="userRating" class="table table-striped table-bordered" width="100%" cellspacing="0">
                    <thead>
                        <th>Title</th>
                        <th>Rating</th>
                    </thead>
                    <tbody>
                        {% for rating in userRatings %}
                            <tr>
                                <td>{{ rating.title }}</td>
                                <td>{{ rating.score }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            {% endif %}
        </div>

        <div class="row">
            {% if not concerts %}
                <h1>Your favorite artist don't have any concerts.</h1>
            {% else %}
                <label>Concerts of Your Favorite Artsits</label>
                <table id="favoriteConcerts" class="table table-striped table-bordered" width="100%" cellspacing="0">
                    <thead>
                        <th>Artist Name</th>
                        <th>Concert Date</th>
                        <th>Concert Location</th>
                    </thead>
                    <tbody>
                        {% for concert in concerts %}
                            <tr>
                                <td>{{ concert.artistName }}</td>
                                <td>{{ concert.concertDate }}</td>
                                <td>{{ concert.location }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            {% endif %}
        </div>

        <div class="row">
            {% if not recommendations %}
                <h1>We don't have enough data to make recommendations for you.</h1>
            {% else %}
                <label>Recommendations for You</label>
                <table id="recommendations" class="table table-striped table-bordered" width="100%" cellspacing="0">
                    <thead>
                        <th>Song Title</th>
                    </thead>
                    <tbody>
                        {% for song in recommendations %}
                            <tr>
                                <td>{{ song }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            {% endif %}
        </div>
    </div>
    <script>


{#        {% if not artistname %}#}
{#            <h1 > You do not have any artist. < / h1 >#}
{#        {% else %}#}
{#        < table id = "example" class= "table table-striped table-bordered" width = "100%" cellspacing = "0" >#}
{#                < thead >#}
{#                < tr >#}
{#                < th > Artist Name < / th >#}
{#        < / tr >#}
{#        < / thead >#}
{#        < tbody >#}
{#        {% for i in artistname %}#}
{#            <tr>#}
{#            <td>{{i}}</ td>#}
{#            </ tr>#}
{#        {% endfor %}#}
{#        < / tbody >#}
{#        < / table >#}
{#        {% endif %}#}
{#        <script>#}
{##}
{##}
{#        <!-- ######################################-->#}
{% endblock %}