{% extends "layout.html" %}
{% block body %}
    {% if error %}
        <div class="alert alert-warning" style="margin-top:60px;height: 50px;margin-left: 30px;margin-right: 30px">
            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
            <strong>Warning: </strong>{{ error }}
        </div>
    {% endif %}
    {% if msg %}
        <div class="alert alert-success" style="margin-top:60px;height: 50px;margin-left: 30px;margin-right: 30px">
            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
            <strong>Success!</strong> {{ msg }}
        </div>
    {% endif %}
    <h1 style="margin-top:100px">Search User</h1>



    <!-- {{table}} -->
    <!-- ######################################-->
    <script type="text/javascript" language="javascript" src="//code.jquery.com/jquery-1.12.3.js"></script>
    <script type="text/javascript" language="javascript"
            src="https://cdn.datatables.net/1.10.12/js/jquery.dataTables.min.js">
    </script>
    <!--<link rel="stylesheet" type="text/css" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">-->
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.12/css/dataTables.bootstrap.min.css">
    <link rel="stylesheet" type="text/css"
          href="https://cdn.datatables.net/buttons/1.2.2/css/buttons.bootstrap.min.css">
    <script type="text/javascript" language="javascript"
            src="https://cdn.datatables.net/1.10.12/js/dataTables.bootstrap.min.js"></script>
    <script type="text/javascript" language="javascript"
            src="https://cdn.datatables.net/buttons/1.2.2/js/dataTables.buttons.min.js"></script>
    <script type="text/javascript" language="javascript"
            src="https://cdn.datatables.net/buttons/1.2.2/js/buttons.bootstrap.min.js"></script>
    <script type="text/javascript" language="javascript"
            src="//cdnjs.cloudflare.com/ajax/libs/jszip/2.5.0/jszip.min.js"></script>
    <script type="text/javascript" language="javascript"
            src="//cdn.rawgit.com/bpampuch/pdfmake/0.1.18/build/pdfmake.min.js"></script>
    <script type="text/javascript" language="javascript"
            src="//cdn.rawgit.com/bpampuch/pdfmake/0.1.18/build/vfs_fonts.js"></script>
    <script type="text/javascript" language="javascript"
            src="//cdn.datatables.net/buttons/1.2.2/js/buttons.html5.min.js"></script>
    <script type="text/javascript" language="javascript"
            src="//cdn.datatables.net/buttons/1.2.2/js/buttons.print.min.js"></script>
    <script type="text/javascript" language="javascript"
            src="//cdn.datatables.net/buttons/1.2.2/js/buttons.colVis.min.js"></script>
    <link rel="stylesheet" type="text/css" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.12/css/dataTables.bootstrap.min.css">
    <link rel="stylesheet" type="text/css"
          href="https://cdn.datatables.net/buttons/1.2.2/css/buttons.bootstrap.min.css">

    {% if isGetRequest %}
        <div class="container">
            <div class="row col-sm-10 col-md-4 col-md-offset-4 col-lg-3 col-lg-offset-2">
                <form name="searchUser" action="/searchuser" method="POST" onsubmit="return validateForm()">
                    Type Facebook Account:
                    <input type="text", placeholder="Facebook" name="facebook" value="{{ request.form.facebook }}">
                    <button class="btn btn-primary">Search</button>
                </form>
            </div>
        </div>
    {% else %}
        {% if searchResults == True %}
            <div class="container">
                <div class="row">
                    <table id="searchedResults" class="table table-striped table-bordered" width="100%" cellspacing="0">
                        <thead>
                            <tr>
                                <th>User Name</th>
                                <th>Facebook</th>
                                <th>Phone Number</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for user in users %}
                                <tr>
                                    <td>{{ user.userName }}</td>
                                    <td>{{ user.facebook }}</td>
                                    <td>{{ user.phonenumber }}</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        {% else %}
            <div class="container">
                <div class="row">
                    <h3>No Such User</h3>
                </div>
            </div>
        {% endif %}
    {% endif %}

    <script>
        function validateForm() {
            var searchUserForm = document.forms["searchUser"];
            var facebook = searchUserForm["facebook"].value;

            // Check if all values entered are valid
            if (facebook == "") {
                alert("Facebook can not by empty!");
                return false;
            }

            return true;
        }
    </script>
{% endblock %}