{% extends "layout.html" %}
{% block body %}
    {% if error %}
        <div class="alert alert-warning" style="margin-top:60px;height: 50px;margin-left: 30px;margin-right: 30px">
            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
            <strong>Warning: </strong>{{ error }}
        </div>
    {% endif %}
    {% if msg %}
        <div class="alert alert-success" style="margin-top:60px;height: 50px;margin-left: 30px;margin-right: 30px">
            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
            <strong>Success!</strong> {{ msg }}
        </div>
    {% endif %}
    <h1 style="margin-top:100px">Search for Songs</h1>

    <!-- {{table}} -->
    <!-- ######################################-->
    <script type="text/javascript" language="javascript" src="//code.jquery.com/jquery-1.12.3.js"></script>
    <script type="text/javascript" language="javascript"
            src="https://cdn.datatables.net/1.10.12/js/jquery.dataTables.min.js">
    </script>
    <!--<link rel="stylesheet" type="text/css" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">-->
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.12/css/dataTables.bootstrap.min.css">
    <link rel="stylesheet" type="text/css"
          href="https://cdn.datatables.net/buttons/1.2.2/css/buttons.bootstrap.min.css">
    <script type="text/javascript" language="javascript"
            src="https://cdn.datatables.net/1.10.12/js/dataTables.bootstrap.min.js"></script>
    <script type="text/javascript" language="javascript"
            src="https://cdn.datatables.net/buttons/1.2.2/js/dataTables.buttons.min.js"></script>
    <script type="text/javascript" language="javascript"
            src="https://cdn.datatables.net/buttons/1.2.2/js/buttons.bootstrap.min.js"></script>
    <script type="text/javascript" language="javascript"
            src="//cdnjs.cloudflare.com/ajax/libs/jszip/2.5.0/jszip.min.js"></script>
    <script type="text/javascript" language="javascript"
            src="//cdn.rawgit.com/bpampuch/pdfmake/0.1.18/build/pdfmake.min.js"></script>
    <script type="text/javascript" language="javascript"
            src="//cdn.rawgit.com/bpampuch/pdfmake/0.1.18/build/vfs_fonts.js"></script>
    <script type="text/javascript" language="javascript"
            src="//cdn.datatables.net/buttons/1.2.2/js/buttons.html5.min.js"></script>
    <script type="text/javascript" language="javascript"
            src="//cdn.datatables.net/buttons/1.2.2/js/buttons.print.min.js"></script>
    <script type="text/javascript" language="javascript"
            src="//cdn.datatables.net/buttons/1.2.2/js/buttons.colVis.min.js"></script>
    <link rel="stylesheet" type="text/css" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.12/css/dataTables.bootstrap.min.css">
    <link rel="stylesheet" type="text/css"
          href="https://cdn.datatables.net/buttons/1.2.2/css/buttons.bootstrap.min.css">

    <div class="container">
        <div class="row>">
            <h3>{{ user }}</h3>
        </div>

        {% if songRated == 1 %}
            <div class="row">
                <h3>You have successfully rated a song.</h3>
            </div>
        {% elif songRated == 2 %}
            <div class="row">
                <h3>Rating must between 1 and 5!</h3>
            </div>
        {% else %}
            {% if not uLikeSong %}
                <div class="row">
                    <table id="songs" class="table table-striped table-bordered" width="100%" cellspacing="0">
                        <thead>
                        <tr>
                            <th>Song ID</th>
                            <th>Artist Name</th>
                            <th>Title</th>
                            <th>Duration</th>
                            <th>Like</th>
                            <th>Rate</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for song in allSongs %}
                            <tr>
                                <td>{{ song.songID }}</td>
                                <td>{{ song.artistName }}</td>
                                <td>{{ song.title }}</td>
                                <td>{{ song.duration }}</td>
                                <td>
                                    <form action="/songs" method="GET">
                                        <input type="submit" name="likeSong" id="likeSong" value="{{ song.title }}">
                                    </form>
                                </td>
                                <td>
                                    <div class="input-group">
                                        <form name="rateSongForm" action="/songs" method="POST">
                                            <input type="number" step="any" class="form-control" placeholder="1-5" name="rating"
                                                   value="{{ request.form.rating }}">
                                            <input type="hidden" class="form-control" name="songID" value="{{ song.songID }}">
                                            <span class="input-group-btn">
                                                <button class="btn btn-primary">Rate</button>
                                            </span>
                                        </form>
                                    </div>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            {% else %}
                <h3>You have added {{ uLikeSong }} to your favorite.</h3>
            {% endif %}
        {% endif %}
    </div>

    <script>
        $(document).ready(function () {
            var table = $('#songs').DataTable({
                lengthChange: false,
                buttons: ['copy', 'excel', 'pdf', 'colvis']
            });

            table.buttons().container()
                    .appendTo('#example_wrapper .col-sm-6:eq(0)');
        });
    
        function validateForm() {
            var rateSongForm = document.forms["rateSongForm"];
            var rating = rateSongForm["rating"].value;

            console.log(rating);
            // Check if rating is valid
            if (rating >= 1 && rating <= 5) {
                return true;
            } else {
                alert("Rating must between 1 and 5!");
                return false;
            }
        }
    </script>
    <!-- ######################################-->
{% endblock %}