{% extends "layout.html" %}
{% block body %}
    {% if error %}
        <div class="alert alert-warning" style="margin-top:60px;height: 50px;margin-left: 30px;margin-right: 30px">
            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
            <strong>Warning: </strong>{{ error }}
        </div>
    {% endif %}
    {% if msg %}
        <div class="alert alert-success" style="margin-top:60px;height: 50px;margin-left: 30px;margin-right: 30px">
            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
            <strong>Success!</strong> {{ msg }}
        </div>
    {% endif %}
    <h1 style="margin-top:100px">Update My Profile</h1>



    <!-- {{table}} -->
    <!-- ######################################-->
    <script type="text/javascript" language="javascript" src="//code.jquery.com/jquery-1.12.3.js"></script>
    <script type="text/javascript" language="javascript"
            src="https://cdn.datatables.net/1.10.12/js/jquery.dataTables.min.js">
    </script>
    <!--<link rel="stylesheet" type="text/css" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">-->
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.12/css/dataTables.bootstrap.min.css">
    <link rel="stylesheet" type="text/css"
          href="https://cdn.datatables.net/buttons/1.2.2/css/buttons.bootstrap.min.css">
    <script type="text/javascript" language="javascript"
            src="https://cdn.datatables.net/1.10.12/js/dataTables.bootstrap.min.js"></script>
    <script type="text/javascript" language="javascript"
            src="https://cdn.datatables.net/buttons/1.2.2/js/dataTables.buttons.min.js"></script>
    <script type="text/javascript" language="javascript"
            src="https://cdn.datatables.net/buttons/1.2.2/js/buttons.bootstrap.min.js"></script>
    <script type="text/javascript" language="javascript"
            src="//cdnjs.cloudflare.com/ajax/libs/jszip/2.5.0/jszip.min.js"></script>
    <script type="text/javascript" language="javascript"
            src="//cdn.rawgit.com/bpampuch/pdfmake/0.1.18/build/pdfmake.min.js"></script>
    <script type="text/javascript" language="javascript"
            src="//cdn.rawgit.com/bpampuch/pdfmake/0.1.18/build/vfs_fonts.js"></script>
    <script type="text/javascript" language="javascript"
            src="//cdn.datatables.net/buttons/1.2.2/js/buttons.html5.min.js"></script>
    <script type="text/javascript" language="javascript"
            src="//cdn.datatables.net/buttons/1.2.2/js/buttons.print.min.js"></script>
    <script type="text/javascript" language="javascript"
            src="//cdn.datatables.net/buttons/1.2.2/js/buttons.colVis.min.js"></script>
    <link rel="stylesheet" type="text/css" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.12/css/dataTables.bootstrap.min.css">
    <link rel="stylesheet" type="text/css"
          href="https://cdn.datatables.net/buttons/1.2.2/css/buttons.bootstrap.min.css">

    {% if profileUpdated == False %}
        <div class="container">
            <div class="row col-sm-10 col-sm-5 col-lg-3 centered">
                <form name="updateProfile" action="/updateprofile" method="POST" onsubmit="return validateForm()">
                    Username: <input type="text" placeholder="username" name="username" value="{{ request.form.username }}">
                    Email: <input type="text" placeholder="email" name="email" value="{{ request.form.email }}">
                    Password: <input type="password" placeholder="password" name="password" value="{{ request.form.password }}">
                    Facebook: <input type="text" placeholder="facebook" name="facebook" value="{{ request.form.facebook }}">
                    Phonenumber: <input type="text" placeholder="phonenumber" name="phonenumber" value="{{ request.form.phonenumber }}">
                    <button class="btn btn-default" type="submit">Update</button>
                </form>
            </div>
        </div>
    {% else %}
        <div class="container">
            <h3>You have successfully updated your profile!</h3>
        </div>
    {% endif %}

    <script>
        function validateForm() {
            var updateProfileForm = document.forms["updateProfile"];
            var username = updateProfileForm["username"].value;
            var password = updateProfileForm["password"].value;

            // Check if all values entered are valid
            if (username == "") {
                alert("Username can't be empty!");
                return false;
            }
            if (password == "") {
                alert("Password can't be empty!");
                return false;
            }

            return true;
        }
    </script>
{% endblock %}